.containerAboutMe{
    width: 100%;
    max-width: 1580px;
    margin: 0 auto;
    background: linear-gradient(rgba(5,7,12,.75), rgba(5,7,12,.75)), url('../Images/bg-08.png') no-repeat center center;
    background-size: cover ;
    background-position: top;
    height: calc(100vh - 90px);
}

.containerCard{
    position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 12px;
    border:2px solid rgba(74, 73, 73, 0.526);
    background-color: rgba(8, 8, 8, 0.473);
}

.containerCard h1{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: .3rem;
    letter-spacing: .04rem;
    color: var(--text-color-secondary);
}

.textDetails{
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font-family-detail);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .035rem;
    line-height: 1.5rem;
    color:#dadada;
    padding:10px 35px;
    border-radius: 12px;
}

.ImgDev {
    width: 150px;
    height: 150px;
    float: left;
    shape-outside: circle();
    margin: 20px;
    background: url('../Images/dev-04-380-380.png') center center no-repeat;
    object-fit: cover;
    background-size: 100%;
    transform:scaleX(-1);
    border-radius: 100%;
    outline: 2px solid var(--text-color-secondary);
    background-color: #9cebee86;
}

.name {
    font-family: var(--font-family-detail);
    font-size: 1.15rem;
    font-weight: 600;
    font-style: italic;
    letter-spacing: .05rem;
    color:var(--text-color-secondary);
    text-transform:uppercase;
    margin-left: 4px;
}

.textProfesion {
    font-style: italic;
    font-weight: 500;
    color:var(--text-color-secondary);
    margin-left: 5px;
}

.textStack,
.textMaster {
    font-weight: 500;
    font-style: italic;
    color:var(--text-color-secondary)
}