.containerAboutMe{
    width: 100%;
    max-width: 1580px;
    height: 100vh;
    margin: 0 auto;

    background: linear-gradient(rgba(5,7,12,.75), rgba(5,7,12,.75)), url('../Images/bg-08.png') no-repeat center center;
    background-size: cover ;
    background-position: 0px 50px;
}

.containerCard{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 700px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 12px;
    border:2px solid rgba(74, 73, 73, 0.526);
    background-color: rgba(8, 8, 8, 0.71);
    filter:drop-shadow(-2px -2px 8px rgba(2, 230, 230, 0.639));
}

.containerCard h1{
    display: flex;   
    justify-content: center; 
    font-size: 1.5rem;
    font-weight: 400;
    /* font-style: italic; */

    line-height: .3rem;
    letter-spacing: .04rem;
    padding: .35rem 0px;
    color: var(--text-color-secondary);
}

.textDetails{
    width: 100%;
    font-family: var(--font-family-detail);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .025rem;
    line-height: 1.5rem;
    color:#dadada;

    padding-bottom: .25em 0px;
    border-radius: 12px;
}

.ImgDev {
    width: 150px;
    height: 150px;
    background: url('../Images/dev-04-380-380.png') center center no-repeat;
    object-fit: cover;
    background-position: -7px 7px;
    background-size: 100%;
    transform:scaleX(-1);
    
    float: left;
    margin-right: 2em;
    margin-bottom: 0.5em;
    shape-outside: circle();
    border-radius: 50%;
    border: 4px solid var(--text-color-secondary);
    background-color: rgba(44, 135, 138, 0.496);
}

.name {
    font-family: var(--font-family-detail);
    font-size: 1.075rem;
    font-weight: 500;
    letter-spacing: .05rem;
    color:var(--text-color-secondary);
    text-transform:uppercase;
    margin-left: 8px;
}

.textProfesion {
    font-style: italic;
    font-weight: 400;
    color:var(--text-color-secondary);
    margin-left: 4px;
}

.textStack,
.textMaster {
    font-weight: 500;
    font-style: italic;
    color:var(--text-color-secondary)
}