.containerHeader{
    position: fixed;
    width: 100vw;
    max-width: 1580px;
    height: 90px;
    
    display: flex;
    justify-content: space-around;
    color:#fff;

    background-color: rgb(30, 30, 30);
    z-index:1;
}

.logo {
    max-width: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Audiowide', cursive;
    font-size: 1.3rem;
    font-weight: 500;
    padding:0 50px;
    color: rgb(242, 170, 38);
}

.logo span{
    color:rgb(10, 252, 248);
}
.containerMenu{
    width: 50%;
    max-width: 650px;
    display: flex;
    font-size: .8rem;
}

