.containerHeader{
    width: 100%;
    height: 90px;
    max-width: 1580px;

    display: flex;
    justify-content: space-around;
    color:#fff;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Audiowide', cursive;
    font-size: 1.3rem;
    font-weight: 500;
    padding:0 50px;
    color: rgb(242, 170, 38);
}

.logo span{
    color:rgb(10, 252, 248);
}
.containerMenu{
    width: 50%;
    display: flex;
    font-size: .8rem;
}

