.containerNavbar{
    width: 100%;
    height: 90px;
    max-width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.containerNavbar li {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    text-transform: uppercase;
    font-weight: 300;
    font-family: var(--font-family-detail);
    color:#fff;
}

.containerNavbar li:hover {
    cursor: pointer;
    font-size: .9rem;
    font-weight: 300;
    color:var(--text-color-terciary);
    padding-bottom: 4px;
    border-bottom:2px solid var(--text-color-terciary);
    transition: all 250ms ease-out;
}