/* Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --text-color-primary: rgb(235, 199, 132);
  --text-color-secondary: rgb(242, 170, 38);
  --text-color-terciary:rgb(10, 252, 248);
  
  --font-family-detail: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-family-detail);
  background-color: rgb(245, 237, 223);

}